<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66368319-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-66368319-3');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="norton-safeweb-site-verification" content="btzv-how09unowicwx2jx3y5lgmxtup2slbksonyr57ev5hqz6jttsab1tehkulbf9y35e-lxm3aeo6n8kdt2dax87y7vi5168v1s7z9m0kz7p2verw-v6odydxodbmr" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png">
    <title>@ViewBag.Title - SugarFreeHealthyDiet.com</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5054611580618782",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SugarFreeHealthyDiet.com", "Index", "Recipes", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Recipes", "Index", "Recipes")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SugarFreeHealthyDiet.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
